.advantages {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

// Wrapper -----------------------------------------
.advantages__wrapper {
  padding: 40px 33px 41px;
}

// List --------------------------------------------
.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: advantages;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

// Item --------------------------------------------
.advantages__item {
  counter-increment: advantages;
}

.advantages__item:nth-child(1),
.advantages__item:nth-child(2) {
  background-color: $blue-basic;
}

.advantages__item:nth-child(3),
.advantages__item:nth-child(4),
.advantages__item:nth-child(5) {
  background-color: $lightgrey;
}

// Серые блоки №3 №4 №5 --------------------------------
.advantages__item--accent {
  position: relative;

  @media (max-width: $tablet-width) {
    &:not(:last-child)::before {
      position: absolute;
      display: block;
      content: "";
      height: 1px;
      background-color: #d6d6d6;
      bottom: 0;
      left: 20px;
      right: 20px;
    }
  }
}

.advantages__item--pic {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/-1;
  }
}

.advantages__item--pic::before {
  display: block;
  content: "";
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (min-width: $tablet-width) {
    grid-column: span 2;
    height: auto;
  }
}

.advantages__item--pic:nth-child(1)::before {
  background-image: url(../img/city_mobile.jpg);
  @media (min-resolution: 2dppx) {
    background-image: url("../img/city_mobile@2x.jpg");
  }
  @media (min-width: $tablet-width) {
    background-image: url(../img/city_tablet.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url("../img/city_tablet@2x.jpg");
    }
  }
  @media (min-width: $desktop-width) {
    background-image: url(../img/city_desktop.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url("../img/city_desktop@2x.jpg");
    }
  }
}

.advantages__item--pic:nth-child(2):before {
  background-image: url(../img/bridge_mobile.jpg);
  order: 1;
  @media (min-resolution: 2dppx) {
    background-image: url("../img/bridge_mobile@2x.jpg");
  }
  @media (min-width: $tablet-width) {
    background-image: url(../img/bridge_tablet.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url("../img/bridge_tablet@2x.jpg");
    }
  }
  @media (min-width: $desktop-width) {
    background-image: url(../img/bridge_desktop.jpg);
    @media (min-resolution: 2dppx) {
      background-image: url("../img/bridge_desktop@2x.jpg");
    }
  }
}

// Title ----------------------------------------------
.advantages__title {
  text-transform: uppercase;
  color: $black-basic;
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}

.advantages__title--accent {
  color: $white-basic;
}

// Description -------------------------------------
.advantages__description {
  text-transform: uppercase;
  color: $black-basic;
  padding: 0 0 24px 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.44;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 0;
  }
}

.advantages__description::before {
  display: block;
  content: "— №" counter(advantages) " —";
  margin-bottom: 21px;
}

.advantages__description--accent {
  color: $white-basic;
}

// City ---------------------------------------------
.city-advantages {
  background-color: #fff;
  grid-column: 1/-1;
}

// City-List ----------------------------------------
.city-advantages__list {
  position: relative;
  list-style: none;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

// City-Item ------------------------------------------
.city-advantages__item {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 35px 11px 26px 69px;

  @media (min-width: $tablet-width) {
    padding: 57px 28px 75px;
    align-items: center;
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }
}

// City-Title -----------------------------------
.city-advantages__title {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
}

.city-advantages__title::before {
  content: "";
  display: block;
  width: 40px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: left left;
  position: absolute;
  margin-top: -10px;
  left: 20px;

  @media (min-width: $tablet-width) {
    width: 76px;
    height: 76px;
    margin-bottom: 26px;
    position: static;
  }
}

.city-advantages__title--house::before {
  background-image: url(../img/icon/house_mobile.svg);
  @media (min-width: $tablet-width) {
    background-image: url(../img/icon/house-tablet.svg);
  }
}

.city-advantages__title--gift::before {
  background-image: url(../img/icon/gift_mobile.svg);
  @media (min-width: $tablet-width) {
    background-image: url(../img/icon/gift-tablet.svg);
  }
}

.city-advantages__title--food::before {
  background-image: url(../img/icon/burger_mobile.svg);
  @media (min-width: $tablet-width) {
    background-image: url(../img/icon/burger-tablet.svg);
  }
}

// City-Description -------------------------------------------
.city-advantages__description {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
  text-align: start;
  padding: 26px 0 0;
  max-width: 240px;
  @media (min-width: $tablet-width) {
    width: auto;
    text-align: center;
  }
}
