.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 14.5px 0 17.5px;
  border: none;
  background-color: $blue-basic;
  color: $white-basic;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.238;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  &:focus-within {
    box-shadow: 0 0 2px 3px rgb(83, 155, 184);
    outline: none;
  }
  &:hover {
    background-color: $blue-hover;
  }
  &:active {
    background-color: $blue-down;
    color: $white-down;
  }
  &:disabled {
    background-color: $grey;
  }

  &--social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    padding: 0;
    &:active path {
      fill: $white-down;
    }
  }

  &--reserve {
    width: 280px;
    @media (min-width: $tablet-width) {
      width: 568px;
    }
  }

  &--form {
    padding: 18.5px 32px 13.5px;
    @media (min-width: $desktop-width) {
      padding: 18.5px 132px 13.5px;
    }
  }
}
