.copyright {
  display: flex;
  align-items: center;
  gap: 13px;
}

.copyright__link {
  display: flex;
  transition: 0.3s;
  color: $black-basic;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    color: $blue-basic;
  }
  &:focus-visible {
    outline: none;
    background-color: $blue-basic;
    border-radius: 30%;
  }
  &:active {
    color: $black-down;
  }
}
