.copyright {
  display: flex;
  align-items: center;
  gap: 13px;
}

.copyright__link {
  display: flex;
  transition: 0.3s;
  color: $black-basic;
  &:hover {
    color: $blue-basic;
  }
  &:active {
    color: $black-down;
  }
}
