.main-nav {
  background-color: $blue-basic;

  @media (min-width: $tablet-width) {
    background-color: $white-basic;
  }
}

.main-nav__wrapper {
  margin: 0 auto;
}

//  list
.main-nav__list {
  display: grid;
  grid-template-rows: repeat(4, 55px);
  margin: 0;
  padding: 0;
  text-align: center;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__list--toggle {
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

// item
.main-nav__item {
  -webkit-tap-highlight-color: transparent;
  @media (max-width: $tablet-width) {
    box-shadow: 0 1px 0 rgba($color: #111111, $alpha: 0.2),
      inset 0 1px 0 rgba($color: #ffffff, $alpha: 0.2);
  }
  @media (min-width: $tablet-width) {
    width: 20%;
  }
  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      margin-right: 20%;
    }
  }
}

// link
.main-nav__link {
  color: $white-basic;
  transition: 0.3s;
  display: block;
  padding: 7.5px 0;
  &:focus-visible {
    box-shadow: inset 0 0 2px 3px rgb(83, 155, 184);
    border: none;
    outline: none;
  }
  &:hover {
    background-color: $blue-hover;
  }
  &:active {
    background-color: $blue-down;
    color: $white-down;
    box-shadow: none;
  }
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 8px 0 6px;
    color: $black-basic;
    &:hover {
      color: $blue-basic;
      background-color: transparent;
    }
    &:active {
      color: $black-down;
      box-shadow: none;
    }
  }
  &--current {
    color: $current;
    pointer-events: none;
    cursor: default;
  }
}

// toggle
.main-nav__toggle {
  position: relative;
  position: absolute;
  right: 22px;
  top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  width: 50px;
  height: 40px;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  &:focus-visible {
    box-shadow: 0 0 2px 3px rgb(83, 155, 184);
    border-radius: 8px;
    outline: none;
  }
  @media (min-width: $tablet-width) {
    display: none;
  }
}

// opened
.main-nav--closed .main-nav__menu {
  position: absolute;
  display: block;
  width: 40px;
  height: 5px;
  border-radius: 20px;
  background-color: $blue-basic;
  transition-duration: 0.25s;
  transition-delay: 0.25s;
  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 40px;
    left: 0;
    border-radius: 20px;
    background-color: $blue-basic;
    transition-duration: 0.25s;
    transition: transform 0.25s, top 0.25s 0.25s;
  }
  &::before {
    top: -10px;
  }
  &::after {
    top: 10px;
  }
}

.main-nav--opened .main-nav__menu {
  position: absolute;
  display: block;
  width: 40px;
  height: 5px;
  border-radius: 20px;
  background-color: transparent;
  transition-duration: 0.25s;
  transition-delay: 0.25s;
  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 5px;
    width: 40px;
    left: 0;
    border-radius: 20px;
    background-color: $white-basic;
    transition-duration: 0.25s;
    transition: transform 0.25s, top 0.25s 0.25s;
  }
  &::before {
    transition: top 0.25s, transform 0.25s 0.25s;
    top: 0px;
    transform: rotateZ(-45deg);
  }
  &::after {
    transition: top 0.4s, transform 0.25s 0.25s;
    top: 0px;
    transform: rotateZ(45deg);
  }
}
