.page-header {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  background-color: $white-basic;
  font-size: 0;

  @media (min-width: $tablet-width) {
    background-color: tomato;
  }
}

// logo
.page-header__logo {
  margin: 0 auto;
  order: 1;
  z-index: 1;
}

// image
.page-header__main-image {
  position: relative;
  min-height: 389px;
  background-image: url(../../img/intro/intro-triangle-mobile.svg),
    url(../../img/intro/back-mobile.jpg);
  background-color: rgb(98, 198, 223);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 100.1%;
  background-size: 1200px 57px, cover;
  padding: 90px 0 85px 0;
  text-align: center;
  margin-top: -44px;
  order: 2;

  @media (min-width: $tablet-width) {
    min-height: 518px;
    padding: 77px 0 91px 0;
    background-image: url(../../img/intro/intro-triangle-mobile.svg),
      url(../../img/intro/back-tablet.jpg);
  }

  @media (min-width: $desktop-width) {
    background-image: url(../../img/intro/intro-triangle-mobile.svg),
      url(../../img/intro/back-desktop.jpg);
  }
}
