.page {
  height: 100%;
  min-width: 320px;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  max-width: 1200px;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  align-content: start;
  background-color: #e7e5e5;
  color: $black-basic;
}

.page__wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: $white-basic;
  box-shadow: 2px 0 14px 6px #929292;
}

.page-main {
  margin: 0;
  @media (min-width: $tablet-width) {
    margin: 0 60px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 120px;
  }
}

.page-main__catalog {
  width: 100%;
  margin: 0;
}

.page-main__wrapper {
  width: 100%;
  margin: 0 auto;
}
