.reserve {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.reserve__map {
  background-image: url(../../img/map/map-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  cursor: pointer;
  @media (min-width: $tablet-width) {
    background-image: url(../../img/map/map-tablet.jpg);
  }
  @media (min-width: $desktop-width) {
    background-image: url(../../img/map/map-desktop.jpg);
  }
}
