.reserve {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.reserve__map {
  background-image: url(../img/map/map-mobile.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  cursor: pointer;
  @media (min-width: $tablet-width) {
    background-image: url(../img/map/map-tablet.webp);
  }
  @media (min-width: $desktop-width) {
    background-image: url(../img/map/map-desktop.webp);
  }
}

.modal-hotel__container {
  position: relative;
}

.modal-hotel {
  position: absolute;
  width: 280px;
  box-shadow: 0 0 10px 0 #929292;
  background-color: $white-basic;
  display: none;
  &--show {
    display: grid;
  }
  @media (min-width: $tablet-width) {
    width: 568px;
    min-height: 395px;
    padding: 55px;
  }
}

.modal-hotel__button {
  width: 100%;
  padding: 16px 0;
}

.modal-hotel__input-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 54px;
  }
}

.modal-hotel__input {
  width: 56%;
  min-height: 38px;
  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  padding: 6px 13px;
  border: none;
  border-radius: 10px;
  &--min {
    text-align: center;
  }
  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    padding: 3px;
    background-image: url(../img/icon/calendar.svg);
    &:hover {
      opacity: 0.5;
    }
  }
  @media (min-width: $tablet-width) {
    width: 346px;
    &--min {
      width: 114px;
    }
  }
}

.modal-hotel__label {
  font-family: inherit;
  font-weight: 700;
  &--min {
    margin-right: 14px;
    @media (min-width: $tablet-width) {
      margin-right: 37px;
    }
  }
}

.modal-hotel__date-item {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  ::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 0;
  }
}

.modal-hotel__input-wrapper {
  display: grid;
  justify-items: end;
  gap: 14px;
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form-hotel {
  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
