.reserve {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.reserve__container {
  padding: 0 0 49px;
  @media (min-width: $tablet-width) {
    padding: 0 0 58px;
  }
  @media (min-width: $desktop-width) {
    padding: 0 0 66px;
  }
}
