.video {
  position: relative;
  width: 100%;
  height: 201px;
  margin: 0 auto 115px;
  background-color: rgb(194, 178, 178);
  background-size: cover;
  @media (min-width: $tablet-width) {
    width: 84.375%;
    margin: 0 auto 40px;
    height: 500px;
  }
  @media (min-width: $desktop-width) {
    width: 66.666%;
    margin: 0 auto 85px;
  }
}

.video__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Player ----------------------------------------- Player
.player {
  width: 100%;
  position: absolute;
  bottom: -66px;
  display: flex;
  flex-direction: column;
}

// Range-wrapper ------------------------------------------ Range-wrapper
.player__range-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 87.5%;
  height: 45px;
  background-color: rgba($color: #000000, $alpha: 0.6);
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 93px;
  }
}

// Range ------------------------------------------------------- Range
.player__range {
  margin: 0 auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 84%;
  height: 3px;
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  cursor: pointer;
  transition: 0.2s;
  @media (min-width: $tablet-width) {
    width: 60%;
    margin: 0 166px 0 93px;
    z-index: 2;
  }
  @media (min-width: $desktop-width) {
    width: 67.5%;
  }
}

// Chrome
.player__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

// Mozilla
.player__range::-moz-range-thumb {
  background: white;
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.player__range {
  &::-moz-range-thumb:hover {
    background: $blue-basic;
  }
  &::-moz-range-thumb:active {
    background: $blue-down;
  }
  &::-webkit-slider-thumb:hover {
    background: $blue-basic;
  }
  &::-webkit-slider-thumb:active {
    background: $blue-down;
  }
}
// ---------------------------------------------------------------

// Button-wrapper -------------------------------------------- Button-wrapper
.player__button-wrapper {
  position: relative;
  background-color: #f2f2f2;
  width: 87.5%;
  height: 66px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  @media (min-width: $tablet-width) {
    width: 100%;
    top: -80px;
    background-color: transparent;
  }
}

// Button-container ----------------------------------------- Button-container
.player__button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  // width: 87.5%;
  width: 90%;
}

// Buttons ---------------------------------------------- Buttons
.player__buttons {
  display: flex;
  gap: 30px;
}

// Button ------------------------------------------------ Button
.player__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: 0.3s;
  -webkit-tap-highlight-color: transparent;
  &--replay,
  &--subtitles,
  &--fullscreen {
    color: $grey-accent;
  }
  &--replay:hover,
  &--subtitles:hover,
  &--fullscreen:hover {
    color: $black-accent;
  }
  &--replay:active,
  &--subtitles:active,
  &--fullscreen:active {
    color: $black-accent-down;
  }
  @media (min-width: $tablet-width) {
    &--replay,
    &--subtitles,
    &--fullscreen {
      color: $white-basic;
    }
    &--replay:hover,
    &--subtitles:hover,
    &--fullscreen:hover {
      color: $white-hover;
    }
    &--replay:active,
    &--subtitles:active,
    &--fullscreen:active {
      color: $white-down;
    }
  }
}

.lala {
  width: 800px;
  height: 600px;
  background-color: rgb(224, 206, 224);
  margin: 0 auto;
}

.ccilocka {
  display: inline;
  color: aqua;
  &:hover {
    color: red;
  }
}
